/*Partes principales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway';
  text-decoration: none;
}

body {
  background-color: #000000;
}

header {
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0);
}

/* Loader */
.hidden{
	overflow: hidden;
} 

.centrado{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	z-index: 999;
	position: relative;
}

.loader {
  width: 20em;
  height: 20em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader .face {
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  animation: animate 3s linear infinite;
}

.loader .face:nth-child(1) {
  width: 100%;
  height: 100%;
  color: white;
  border-color: currentColor transparent transparent currentColor;
  border-width: 0.2em 0.2em 0em 0em;
  --deg: -45deg;
  animation-direction: normal;
}

.loader .face:nth-child(2) {
  width: 70%;
  height: 70%;
  color: white;
  border-color: currentColor currentColor transparent transparent;
  border-width: 0.2em 0em 0em 0.2em;
  --deg: -135deg;
  animation-direction: reverse;
}

.loader .face .circle {
  position: absolute;
  width: 50%;
  height: 0.1em;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: rotate(var(--deg));
  transform-origin: left;
}

.loader .face .circle::before {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  content: '';
  width: 1em;
  height: 1em;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 2em,
              0 0 4em,
              0 0 6em,
              0 0 8em,
              0 0 10em,
              0 0 0 0.5em rgba(255, 255, 0, 0.1);
}

@keyframes animate {
  to {
      transform: rotate(1turn);
  }
}


/* Título de la página */
.titulo {
  display: flex;
  justify-content: center;
  background: black;
  color: #066DCC;
  font-weight: bold;
  padding: 33px;
  font-size: 52px
}

/*HEADER SUPERIOR*/
.parte_superior {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 0px;
  justify-content: center;
}

/* Logo INAOE */
.logoimg {
  display: flex;
  height: 110px;
  align-items: center;
}

/* Menú principal */
/*BARRA MENU*/
.container__menu {
  width: 100%;
  height: 55px;
  position: sticky;
  top: 0;
  background: #023877;
  padding: 0px 25px;
  z-index: 3;
}

.menu {
  max-width: 1200px;
  margin: auto;
  height: 100%;
}

nav {
  height: 100%;
}

nav>ul {
  height: 100%;
  display: flex;
}

nav ul li {
  height: 100%;
  list-style: none;
  position: relative;
}

/*ICONO HOME*/
nav>ul>li:first-child>a {
  background-image: url(../img/home.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 20px 40px;
}

nav>ul>li:first-child:hover>a {
  background-image: url(../img/home.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center center;
}

nav>ul>li>a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 12px;
  color: white;
  font-size: 12px;
  transition: all 300ms ease;
}

nav>ul>li>a:hover {
  transform: scale(1.1);
  background: #0074C7;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0);
}

#selected {
  transform: scale(1.1);
  background-color: #0074C7;
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
}

/*SUBMENU*/
nav ul li ul {
  width: 200px;
  display: flex;
  flex-direction: column;
  background: rgb(0, 0, 0);
  position: absolute;
  top: 90px;
  left: -5px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition: all 300ms ease;
}

nav ul li:hover ul {
  visibility: visible;
  opacity: 1;
  top: 60px;
}

nav ul li ul:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid white;
  position: absolute;
  top: -12px;
  left: 20px;
}

nav ul li ul li a {
  display: block;
  color: #0099E9;
  padding: 6px;
  padding-left: 14px;
  margin-top: 10px;
  font-size: 13px;
  transition: all 300ms ease;
}

nav ul li ul li a:hover {
  background: #0074C7;
  color: rgb(0, 0, 0);
  transform: scale(1.1);
  padding-left: 30px;
  font-size: 13px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/*ELEMENTOS RESPONSIVOS*/
.icon__menu {
  font-size: 26px;
  color: white;
  cursor: pointer;
  width: 26px;
  height: 100%;
  display: none;
  align-items: center;
}

#label__check {
  width: 26px;
  height: 100%;
  display: none;
}

#check__menu {
  display: none;
}


/* Menú de la página  2*/
.container2 {
  display: flex;
  flex-flow: row;
  visibility: visible;
}

.indice {
  background: #54ABFA;
  margin: 50px 10px 0 10px;
  width: 35%;
  height: 100%;
  padding: 20px 60px 20px 20px;
  border-radius: 3px;
  position: sticky;
  top: 80px;
  z-index: 2;
  display: block;
  box-shadow: 5px 5px 4px #162635, -5px -5px 4px #6b8196;
}

a {
  color: #0099FF;
}

a.contenido {
  color: black;
}

.indice .indice_titulo {
  font-size: 20px;
  color: black;
  padding: 0 0 0 10px;
}

.indice .indice_lista {
  padding: 0 0 0 30px;
}

/* Texto general */
.texto {
  background: #131313;
  margin: 20px 20px 20px 10px;
  border-radius: 1rem;
  padding: 0 20px 0 20px;
  box-shadow: 5px 5px 4px #161718, -5px -5px 4px #404346;
}

img {
  cursor: pointer;
  border-image: white;
  border-width: 1px;
  border-style: solid;
}

.capa {
  background: #131313;
  height: 55px;
  position: relative;
  padding: 0;
}

p {
  padding: 0 20px 0 10px;
  text-align: justify;
  text-indent: 20px;
}

h2 {
  text-align: center;
  padding: 0 20px 0 10px;
  font-size: 40px;
}

h3 {
  padding: 0 20px 0 10px;
  font-size: 30px;
}

h4 {
  padding: 0 20px 0 10px;
  font-size: 20px;
}

/* Tablas */
table {
  color: white;
  padding: 0;
}

/* Listas o numeración */
.listas,
.numeracion {
  padding: 0 20px 0 20px;
  text-align: justify;
}

ul.listas,
ol {
  font-family: Raleway;
  padding: 0px 0px 0px 30px;
}

ol ol {
  font-family: Raleway;
  padding: 0px 0px 0px 30px;
}

/* Actividad didáctica */
button,
input {
  padding: 20px 0px 20px 0px;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
  color: white;
  background-color: #066dcc;
  border-radius: 6px;
  cursor: pointer;
}

label {
  color: black;
  font-family: Raleway;
}

.preguntas {
  background: white;
  width: 80%;
  height: auto;
  border-radius: 4px;
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 4;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 700px;
}

.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

.close1,
.close2,
.close3,
.close4,
.close5,
.close6,
.close7,
.close8,
.close9,
.close10 {
  position: absolute;
  top: 50px;
  right: 40px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close1:hover,
.close1:focus,
.close2:hover,
.close2:focus,
.close3:hover,
.close3:focus,
.close4:hover,
.close4:focus,
.close5:hover,
.close5:focus,
.clos6:hover,
.close6:focus,
.close7:hover,
.close7:focus,
.close8:hover,
.close8:focus,
.close9:hover,
.close9:focus,
.close10:hover,
.close10:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


.loader {
  width: 20em;
  height: 20em;
  font-size: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader .face {
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  animation: animate 3s linear infinite;
}

.loader .face:nth-child(1) {
  width: 100%;
  height: 100%;
  color: white;
  border-color: currentColor transparent transparent currentColor;
  border-width: 0.2em 0.2em 0em 0em;
  --deg: -45deg;
  animation-direction: normal;
}

.loader .face:nth-child(2) {
  width: 70%;
  height: 70%;
  color: white;
  border-color: currentColor currentColor transparent transparent;
  border-width: 0.2em 0em 0em 0.2em;
  --deg: -135deg;
  animation-direction: reverse;
}

.loader .face .circle {
  position: absolute;
  width: 50%;
  height: 0.1em;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: rotate(var(--deg));
  transform-origin: left;
}

.loader .face .circle::before {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  content: '';
  width: 1em;
  height: 1em;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 2em,
    0 0 4em,
    0 0 6em,
    0 0 8em,
    0 0 10em,
    0 0 0 0.5em rgba(255, 255, 0, 0.1);
}

@keyframes animate {
  to {
    transform: rotate(1turn);
  }
}


/*Ajustes tamaño de pantalla*/
@media screen and (max-width: 720px) {
  .parte_superior {
    padding: 10px;
  }

  .titulo {
    align-items: center;
    font-size: 22px
  }

  .logoimg {
    display: flex;
    height: 60px;
    align-items: center;
  }

  nav>ul {
    flex-direction: column;
    background-color: #023877;
    position: sticky;
    left: 0;
    top: 158px;
    width: 44%;
    height: 0px;
    transition: all 300ms ease;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
  }

  nav>ul>li>a:hover {
    transform: scale(1);
  }

  nav ul li ul {
    left: 90px;
  }

  nav>ul>li:hover ul {
    top: 50px;
  }

  nav>ul>li:first-child a {
    background-position: 20px;
  }

  #selected {
    transform: scale(1);
  }

  #label__check {
    display: block;
  }

  .icon__menu {
    display: flex;
  }

  #check__menu:checked~nav>ul {
    height: auto;
    visibility: visible;
    opacity: 1;
  }

  /*Submenu*/
  .container2 {
    display: flex;
    flex-flow: row;
    visibility: none;
  }

  .modal-content {
    width: 100%;
  }

  .indice {
    display: none;
  }

}

@media screen and (max-width: 400px) {
  .modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 700px;
  }
}

/* Pie de página */
#header_wrap2 {
  justify-items: center;
  align-items: flex-end;
  margin: 0px;
}
